:root{
    --background-left-light:#ACBAA8;
    --background-right-light:#D3D9D1;
    --background-left-dark:#72826E;
    --background-right-dark:#8E968B;
   
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
    
}
#language-switcher-desktop{
    display: flex;
    position: absolute;
    left: calc(80%);
    top: calc(10%);

    z-index: 50;
}
#language-switcher-desktop button{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background-left-light);
}
#language-switcher-desktop button:hover{
    background-color: var(--background-right-light);
    box-shadow: 0.5px 0.5px 10px 0 #939e8f;
}
.background {
    display: flex;
    width: 100%;
    height: 100vh;
}

.background_left {
    background-color: var(--background-left-light);
    width: 40%;
    height: 100%;
    z-index: 1;
}
.background_right {
    background-color: var(--background-right-light);
    width: 60%;
    height: 100%;
    z-index: 1;
}
.card, .card_back{
    display: flex;
    width: 50%;
    height: 60%;
    
    position: absolute;
    left: calc(25%);
    top: calc(20%);

    box-shadow: 0.5px 0.5px 10px 0 #939e8f;
    z-index: 15;

    perspective: 1000px;
    backface-visibility: hidden;
    transition: transform 0.6s ease;
}

 .card_back{
    transform: rotateY(180deg);
 }
.container:hover .card{
    transform: rotateY(180deg);
}
.container:hover .card_back{
    transform: rotateY(360deg);
}

.card_left{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

    background-color: var(--background-left-light);
    width: 40%;
    height: 100%;
}
.card_right {
    background-color: var(--background-right-light);
    width: 60%;
    height: 100%;
    
}

.card_left-picture{
   position: relative   ;
    width: 60%;
    height: calc(width);
    top: -50px;
    left: calc(20%);
    border-radius: 50%;
}
.card_left-name{
   position: relative;
   top: -20px;
   text-align: center;
}
p.card_left-description {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 15px;
}
.card_left-social {
    display: flex;
    flex-flow: column nowrap;
    background-color: #D3D9D1;
    position: absolute;
    height: 150px;
    top: 275px;    
    left: 20px;
    border-radius: 10px;
    
    z-index: 10;
    box-shadow: 0.5px 0.5px 5px 0 #939e8f;
}
.card_left-social a {
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 40px;
    top: 2px;
    margin-top: 15px;
    margin-left: 5px;
}
.card_left-social a:first-child{
    margin-top: 0;
}
.card_left-social img {
    width: 35px;
    height: 35px;    
}

/* Right side styling */

.cursor{
    display: flex;
    position: relative;
    width: 20%;
    height: calc(width - 20px);
    top: 170px;
    left: calc(50% - 50px);
}

.card .card_right{
    display: flex; 
    flex-flow: column nowrap;
}
.card .card_right h1{
    font-size: 50px;
    position: relative;
    left: 50px;
    top: 50px;
}
.card .card_right h3{
    position: relative;
    font-style: italic;
    font-size: 25px;
    top: 100px;
    padding-left: 40px;
}
.card_back .card_right .card_right-description{
    font-size: 18px;
    position: relative;
    padding: 0 40px;
    
    top: 20px;

}
.skills{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    justify-content: right;
    width: 70%;
    height: 95%;
    top: calc(-50%);
    left: calc(95%);
    /* background-color:violet; */
}
.skills div {
    position: relative;
    width: 25%;
    height: 15vh;
    
    top: px;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}
.skillsdiv p{
    font-size: 25px;
    display: flex;
    position: relative;
    top: -50px;

    
}
.skills div img{
    width: 70%;
    padding: 0;
    margin: 0;
    /* background-color: yellowgreen; */
}

.phoneCard-container{
    display: none;
}
@media (max-width: 1200px) {
    .skills{
        top: calc(-70%);
    }
}

/* 1120 change to device view */
@media (max-width: 1120px) {
    .container{
        display: none;
    }
    #language-switcher-desktop{
        display: none;
    }

    .card_left-social {
        display: flex;
        flex-flow: row nowrap;
        background-color: #D3D9D1;
        position: absolute;
        height: 50px;
        top: calc(10%);    
        left: calc(50% - 100px);
        border-radius: 10px;
        align-items: center;
        
        z-index: 10;
        box-shadow: 0.5px 0.5px 5px 0 #939e8f;
    }
    .card_left-social a {
        text-decoration: none;
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 0;
        
    }

    /* Phone flipping card */

    .phoneCard-container{
        display: flex;
        position: absolute;
        width: 40%;
        height: 50%;
        left: calc(45% - 150px);
        
        z-index: 50;
        perspective: 1000px;
        transition: transform 0.6s ease;
        box-shadow: 1px 0.5px 5px 0 #939e8f;
        border-radius: 10px;
    }
    .phoneCard-front{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        backface-visibility: hidden;
        transition: transform 0.6s ease;
        border-radius: 10px;

        
    }

    .phoneCard-back{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: transform 0.6s ease;
        border-radius: 10px;        
    }

    .phoneCard-container:hover .phoneCard-front{
        transform: rotateY(180deg);
    }
    .phoneCard-container:hover .phoneCard-back{
        transform: rotateY(360deg);
    }
    .up{
        width: 100%;
        height: 30%;
        background-color: var(--background-left-light);
        border-radius: 10px 10px 0 0;
    }
    .phoneCard-back .up {
        background-color: var(--background-right-light);
    }
    .down{
        width: 100%;
        height: 70%;
        background-color: var(--background-right-light);
        border-radius: 0 0 10px 10px;
    }
    .content{
        display: flex;
    }
    .content img{
        width: 40%;
        height: calc(width - 50px);
        position: absolute;
        top: calc(8%);
        left: calc(28%);
        border-radius: 50%;
        border: 8px solid var(--background-left-light);
    }
    .content h2{
        justify-content: center;
        position: absolute;
        top: 50%;
        left: calc(35%);
    }
    .content p{
        position: absolute;
        top: 5%;
        left: 10px;
    }
    p.role{
        position: absolute;
        top: 70%;
        left: 30%;
    }
}
@media (max-width: 670px) {
    .container{
        display: none;
    }
    #language-switcher-desktop{
        display: none;
    }

    .card_left-social {
        display: flex;
        flex-flow: row nowrap;
        background-color: #D3D9D1;
        position: absolute;
        height: 50px;
        top: calc(10%);    
        left: calc(50% - 70px);
        border-radius: 10px;
        align-items: center;
        
        z-index: 10;
        box-shadow: 0.5px 0.5px 5px 0 #939e8f;
    }
    .card_left-social a {
        text-decoration: none;
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 0;
        
    }

    /* Phone flipping card */

    .phoneCard-container{
        display: flex;
        position: absolute;
        width: 60%;
        height: 50%;
        left: calc(50% - 120px);
        
        z-index: 50;
        perspective: 1000px;
        transition: transform 0.6s ease;
        box-shadow: 1px 0.5px 5px 0 #939e8f;
    }
    .phoneCard-front{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        backface-visibility: hidden;
        transition: transform 0.6s ease;

        
    }

    .phoneCard-back{
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: transform 0.6s ease;

        background-color: aliceblue;
    }

    .phoneCard-container:hover .phoneCard-front{
        transform: rotateY(180deg);
    }
    .phoneCard-container:hover .phoneCard-back{
        transform: rotateY(360deg);
    }
    .content h2{
        justify-content: center;
        position: absolute;
        top: 45%;
        left: calc(33%);
    }
    p.role{
        position: absolute;
        top: 60%;
        left: 25%;
    }

}